fastapi
uvicorn
python-multipart
python-jose
bcrypt == 3.2.2
passlib[bcrypt] == 1.7.4
sqlalchemy
psycopg2-binary
alembic
python-dotenv
pytest
httpx
pydantic[email]
PyMuPDF
celery
redis
ollama
transformers 
jsonschema
minio
kafka-python
pytesseract
pdf2image
joblib
scikit-learn

# TensorFlow